<h1>Sobre</h1>

<p>
    Criado com o intuito de mostrar um pouco sobre os conhecimentos sobre o Framework Ruby on Rails, Contact List mostrará as peças que formam essa ferramenta
    tão poderosa.
</p>